<template>
  <section class="review">
    <h1>Instalando a <strong class="fuxico">Fuxico</strong></h1>
  
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  name: 'Confirm',
})
export default class Review extends Vue {}
</script>

<style scoped lang="scss">
.success {
  text-align: center;

  h1 {
    font-size: 2em;
    margin-bottom: .25em;
    text-align: center;
  }

  p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    max-width: 290px;
  }

  img {
    display: block;
    margin: 0 auto 1em;
    width: 60%;
  }

}

.restart {
  background: #ffd4d4;
  border-radius: 10px;
  padding: .5em;
}
</style>