<template>
  <section class="review">
    <h1>Revisão 👓</h1>
    <p>
      Reveja os dados preenchidos nos passos anteriores. Caso queira <strong>mudar</strong> alguma coisa, volte pelo menu acima.
    </p>
    <ol class="allData">
      <li>
        Senha de sistema: <strong>{{this.$root.$data.sysKey}}</strong>
      </li>
      <li>
        Senha mestra: <strong>{{this.$root.$data.skeletonKey}}</strong>
      </li>
      <li>
        Armazenamento: <strong>{{this.$root.$data.storage}}</strong>
      </li>
      <li>
        Sementeira: 
        <ul>
          <li v-for="semente in this.$root.$data.sementeira">
            <strong>{{ semente }}</strong>
          </li>
        </ul>
      </li>
      <li>
        Senha de rede: <strong>{{this.$root.$data.netKey}}</strong>
      </li>
    </ol>
    <p>
      Caso queira confirmar, utilize o botão abaixo:
    </p>
    <router-link class="button" to="/confirm" title="Confirmar">
      Instalar
    </router-link>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  name: 'Review',
})
export default class Review extends Vue {}
</script>

<style scoped lang="scss">
p {
  margin-bottom: 1em;
}

.allData {
  background-color: #fffde9;
  border-color: #eee;
  border-style: double;
  border-width: 4px;
  list-style-position: inside;
  margin-bottom: 1em;
  padding: 1em;
  
  li {
    padding-bottom: .5em;

    strong:not(:empty) {
      background-color: #eee;
      border-radius: 4px;
      color: deeppink;
      display: inline-block;
      font-family:'Courier New', Courier, monospace;
      padding: 1px 3px;
    }
  }

  ul:not(:empty) {
    margin-top: .5em;

    li {
      margin-left: 1em;
    }
  }
}


</style>