<template>
  <section class="SysKey">
    <h1>Bem vinda a instalação da sua <strong class="fuxico">Fuxico</strong>!</h1>
    <h2>Passo 1</h2>
    <form v-on:submit.prevent="nextStep">
      <legend>Crie uma senha de sistema:</legend>
      <Password :data="wizardData.sysKey" :eventName="eventName"></Password>
      <aside v-bind:class="{ slideDown: isFormValid }">
        Anote esta senha em um local seguro, você precisará dela para alterar estas configurações no futuro.
      </aside>
      <button :disabled="!isFormValid" ref="nextButton">
        Próximo
      </button>
    </form>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import PasswordComponent from '@/components/Password.vue';
import { WizardState } from '../models/wizard-state';
import { PasswordEvent } from '../models/password-event';
import EventBus from '../eventBus';

@Component({
  name: 'SysKey',
  components: {
    Password: PasswordComponent,
  },
})
export default class SysKey extends Vue {
  private isFormValid: boolean = false;
  private eventName: string = 'sysKey';
  private wizardData = this.$root.$data as WizardState;

  private mounted() {
    EventBus.$on(this.eventName, (payload: PasswordEvent) => {
      this.isFormValid = payload.valid;
      this.wizardData.sysKey = payload.password;
    });
  }

  private updated() {
    const btn = this.$refs.nextButton as HTMLButtonElement;
    btn.focus();
  }

  private nextStep() {
    this.$router.push('step2');
  }
}
</script>
