<template>
<div class="pw">
  <input @input="passwordValidator" v-model="passwordData.value" minlength="6" required :type="inputType" placeholder="Digite uma senha" autocomplete="new-password" ref="firstInput">
  <input @input="passwordChecker" v-model="passwordData.confirm" minlength="6" required :type="inputType" placeholder="Confirme a senha" :disabled="isFirstPasswordInvalid" autocomplete="new-password">
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { PasswordEvent } from '../models/password-event';
import { Password } from '../models/password';
import EventBus from '../eventBus';

@Component({
  name: 'Password',
})
export default class PasswordComponent extends Vue {

  @Prop() private type!: string;
  @Prop() private eventName!: string;
  @Prop() private optional!: boolean;
  @Prop() private data!: string;
  private isFirstPasswordInvalid: boolean = true;
  private invalidFields: boolean = false;
  private passwordData: Password = {
    confirm: '',
    value: '',
  };

  private mounted() {
    const input = this.$refs.firstInput as HTMLInputElement;
    input.focus();
    this.passwordData = {
      confirm: '',
      value: this.data,
    };

    if (this.passwordData.value) {
      this.isFirstPasswordInvalid = false;
    }
  }

  private get inputType() {
    return this.type ? this.type : 'text';
  }

  private passwordValidator(e: Event) {
    const campo = e.target as HTMLInputElement;

    if (this.passwordData.value.length >= campo.minLength) {
      this.isFirstPasswordInvalid = false;
    } else {
      this.isFirstPasswordInvalid = true;
      this.passwordData.confirm = '';
    }
  }

  private passwordChecker(e: Event) {
    if (this.passwordData.value === this.passwordData.confirm) {
      this.invalidFields = true;
      this.sendData();
    }
  }

  private sendData() {
    const data: PasswordEvent = {
      valid: this.invalidFields,
      password: this.passwordData.confirm,
    };
    EventBus.$emit(this.eventName, data);
  }

}
</script>


<style scoped lang="scss">

.pw {
  background-color: white;
  position: relative;
  z-index: 1;
}

[type="text"],
[type="password"] {
  border: 1px solid #888;
  border-radius: 3px;
  display: block;
  font-size: 1em;
  margin-bottom: 1em;
  padding: 8px;
  width: 100%;
}

</style>